* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
h1 {
	font-size: 3em;
}
.main {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	height: 100vh;
	justify-content: center;
	align-items: center;
	color: #e7e5df;
	background-color: #393e41;
}
p {
	padding: 0.4em 0;
	font-size: 1.2rem;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
button {
	height: 48px;
	width: 148px;
	font-size: 1.1em;
	border: solid 2px black;
	background-color: #44bba4;
	transition: 0.3s;
}

button:hover {
	background-color: #d3d0cb;
	border: solid 2px #44bba4;
}

input[type='file'] {
	display: none;
}
.custom-file-upload {
	height: 400px;
	width: 500px;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 6px 12px;
	border: dashed 1px white;
	cursor: pointer;
}
.custom-file-upload:hover {
	color: #44bba4;
	border: solid 1px #44bba4;
}
.hide {
	display: none;
}
.filesSelected {
	display: flex;
  	flex-direction: column;
  	align-items: start;
}

.sortable-list {
    list-style-type: none;
    padding: 0;
}

.sortable-list p {
    padding: 10px;
    margin: 5px 0;
    border: solid 1px #44bba4;
    background-color: #d3d0cb;
    cursor: move;
}

.file-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.move-up, .move-down {
    background-color: #44bba4;
    border: none;
    color: black;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.move-up:hover, .move-down:hover {
    background-color: #d3d0cb;
}